name = "PLP Banner Manager"
client_id = "add953d7ab95cb845f7419cbdddc0158"
application_url = "https://shopify.dev/apps/default-app-home"
embedded = true

[access_scopes]
scopes = "read_products,read_themes,write_themes"

[auth]
redirect_urls = [
  "https://example.com/auth/callback",
  "https://example.com/auth/shopify/callback",
  "https://example.com/api/auth/callback",
  "https://example.com/api/auth"
]

[webhooks]
api_version = "2026-04"

[[webhooks.subscriptions]]
topics = ["app/uninstalled"]
uri = "/webhooks"

[[webhooks.subscriptions]]
topics = ["shop/update"]
uri = "/webhooks"

[webhooks.privacy_compliance]
customer_deletion_url = "https://shopify.dev/apps/default-app-home/webhooks"
customer_data_request_url = "https://shopify.dev/apps/default-app-home/webhooks"
shop_deletion_url = "https://shopify.dev/apps/default-app-home/webhooks"

[app_proxy]
url = "https://shopify.dev/apps/default-app-home/api/storefront"
subpath = "plp-banners"
prefix = "apps"

[pos]
embedded = false

[build]
automatically_update_urls_on_dev = true
dev_store_url = "18thdigitechdemo.myshopify.com"
